
@{
    ViewBag.Title = "重新命名";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";
}

<div class="groove groove-1">    
    <ul class="forms">
        <li>
            <div class="col-1">
                <div class="title">修改檔案顯示名稱</div>
                <div class="input-field">
                    <input type="text" id="ShowName" />
                </div>
            </div>
        </li>
    </ul>
    <div class="control-bar flex">
        <a class="btn-cancel" href="javascript:" onclick="parent.$.colorbox.close();"><i class="cc cc-close"></i>取消</a>
        <a id="btnSave" class="btn-bulid" href="javascript:"><i class="cc cc-check"></i>儲存</a>
    </div>    
</div>

@section FArea {
    @BundleConfig.Component()
    <script type="text/javascript">
        var fileItem = parent.getFileItem();

        $('#ShowName').val(fileItem.ShowName);
        
        $('#btnSave').click(function () {
            fileItem.ShowName = $.trim($('#ShowName').val());

            parent.setFileItem(fileItem);
            parent.$.colorbox.close();
        });
    </script>
}

