.bg-materialize-red {
  background-color: #e51c23 !important; }

.bg-materialize-red-lighten-5 {
  background-color: #fdeaeb !important; }

.bg-materialize-red-lighten-4 {
  background-color: #f8c1c3 !important; }

.bg-materialize-red-lighten-3 {
  background-color: #f3989b !important; }

.bg-materialize-red-lighten-2 {
  background-color: #ee6e73 !important; }

.bg-materialize-red-lighten-1 {
  background-color: #ea454b !important; }

.bg-materialize-red-darken-1 {
  background-color: #d0181e !important; }

.bg-materialize-red-darken-2 {
  background-color: #b9151b !important; }

.bg-materialize-red-darken-3 {
  background-color: #a21318 !important; }

.bg-materialize-red-darken-4 {
  background-color: #8b1014 !important; }

.bg-red {
  background-color: #F44336 !important; }

.bg-red-lighten-5 {
  background-color: #FFEBEE !important; }

.bg-red-lighten-4 {
  background-color: #FFCDD2 !important; }

.bg-red-lighten-3 {
  background-color: #EF9A9A !important; }

.bg-red-lighten-2 {
  background-color: #E57373 !important; }

.bg-red-lighten-1 {
  background-color: #EF5350 !important; }

.bg-red-darken-1 {
  background-color: #E53935 !important; }

.bg-red-darken-2 {
  background-color: #D32F2F !important; }

.bg-red-darken-3 {
  background-color: #C62828 !important; }

.bg-red-darken-4 {
  background-color: #B71C1C !important; }

.bg-red-accent-1 {
  background-color: #FF8A80 !important; }

.bg-red-accent-2 {
  background-color: #FF5252 !important; }

.bg-red-accent-3 {
  background-color: #FF1744 !important; }

.bg-red-accent-4 {
  background-color: #D50000 !important; }

.bg-pink {
  background-color: #e91e63 !important; }

.bg-pink-lighten-5 {
  background-color: #fce4ec !important; }

.bg-pink-lighten-4 {
  background-color: #f8bbd0 !important; }

.bg-pink-lighten-3 {
  background-color: #f48fb1 !important; }

.bg-pink-lighten-2 {
  background-color: #f06292 !important; }

.bg-pink-lighten-1 {
  background-color: #ec407a !important; }

.bg-pink-darken-1 {
  background-color: #d81b60 !important; }

.bg-pink-darken-2 {
  background-color: #c2185b !important; }

.bg-pink-darken-3 {
  background-color: #ad1457 !important; }

.bg-pink-darken-4 {
  background-color: #880e4f !important; }

.bg-pink-accent-1 {
  background-color: #ff80ab !important; }

.bg-pink-accent-2 {
  background-color: #ff4081 !important; }

.bg-pink-accent-3 {
  background-color: #f50057 !important; }

.bg-pink-accent-4 {
  background-color: #c51162 !important; }

.bg-purple {
  background-color: #9c27b0 !important; }

.bg-purple-lighten-5 {
  background-color: #f3e5f5 !important; }

.bg-purple-lighten-4 {
  background-color: #e1bee7 !important; }

.bg-purple-lighten-3 {
  background-color: #ce93d8 !important; }

.bg-purple-lighten-2 {
  background-color: #ba68c8 !important; }

.bg-purple-lighten-1 {
  background-color: #ab47bc !important; }

.bg-purple-darken-1 {
  background-color: #8e24aa !important; }

.bg-purple-darken-2 {
  background-color: #7b1fa2 !important; }

.bg-purple-darken-3 {
  background-color: #6a1b9a !important; }

.bg-purple-darken-4 {
  background-color: #4a148c !important; }

.bg-purple-accent-1 {
  background-color: #ea80fc !important; }

.bg-purple-accent-2 {
  background-color: #e040fb !important; }

.bg-purple-accent-3 {
  background-color: #d500f9 !important; }

.bg-purple-accent-4 {
  background-color: #aa00ff !important; }

.bg-deep-purple {
  background-color: #673ab7 !important; }

.bg-deep-purple-lighten-5 {
  background-color: #ede7f6 !important; }

.bg-deep-purple-lighten-4 {
  background-color: #d1c4e9 !important; }

.bg-deep-purple-lighten-3 {
  background-color: #b39ddb !important; }

.bg-deep-purple-lighten-2 {
  background-color: #9575cd !important; }

.bg-deep-purple-lighten-1 {
  background-color: #7e57c2 !important; }

.bg-deep-purple-darken-1 {
  background-color: #5e35b1 !important; }

.bg-deep-purple-darken-2 {
  background-color: #512da8 !important; }

.bg-deep-purple-darken-3 {
  background-color: #4527a0 !important; }

.bg-deep-purple-darken-4 {
  background-color: #311b92 !important; }

.bg-deep-purple-accent-1 {
  background-color: #b388ff !important; }

.bg-deep-purple-accent-2 {
  background-color: #7c4dff !important; }

.bg-deep-purple-accent-3 {
  background-color: #651fff !important; }

.bg-deep-purple-accent-4 {
  background-color: #6200ea !important; }

.bg-indigo {
  background-color: #3f51b5 !important; }

.bg-indigo-lighten-5 {
  background-color: #e8eaf6 !important; }

.bg-indigo-lighten-4 {
  background-color: #c5cae9 !important; }

.bg-indigo-lighten-3 {
  background-color: #9fa8da !important; }

.bg-indigo-lighten-2 {
  background-color: #7986cb !important; }

.bg-indigo-lighten-1 {
  background-color: #5c6bc0 !important; }

.bg-indigo-darken-1 {
  background-color: #3949ab !important; }

.bg-indigo-darken-2 {
  background-color: #303f9f !important; }

.bg-indigo-darken-3 {
  background-color: #283593 !important; }

.bg-indigo-darken-4 {
  background-color: #1a237e !important; }

.bg-indigo-accent-1 {
  background-color: #8c9eff !important; }

.bg-indigo-accent-2 {
  background-color: #536dfe !important; }

.bg-indigo-accent-3 {
  background-color: #3d5afe !important; }

.bg-indigo-accent-4 {
  background-color: #304ffe !important; }

.bg-blue {
  background-color: #2196F3 !important; }

.bg-blue-lighten-5 {
  background-color: #E3F2FD !important; }

.bg-blue-lighten-4 {
  background-color: #BBDEFB !important; }

.bg-blue-lighten-3 {
  background-color: #90CAF9 !important; }

.bg-blue-lighten-2 {
  background-color: #64B5F6 !important; }

.bg-blue-lighten-1 {
  background-color: #42A5F5 !important; }

.bg-blue-darken-1 {
  background-color: #1E88E5 !important; }

.bg-blue-darken-2 {
  background-color: #1976D2 !important; }

.bg-blue-darken-3 {
  background-color: #1565C0 !important; }

.bg-blue-darken-4 {
  background-color: #0D47A1 !important; }

.bg-blue-accent-1 {
  background-color: #82B1FF !important; }

.bg-blue-accent-2 {
  background-color: #448AFF !important; }

.bg-blue-accent-3 {
  background-color: #2979FF !important; }

.bg-blue-accent-4 {
  background-color: #2962FF !important; }

.bg-light-blue {
  background-color: #03a9f4 !important; }

.bg-light-blue-lighten-5 {
  background-color: #e1f5fe !important; }

.bg-light-blue-lighten-4 {
  background-color: #b3e5fc !important; }

.bg-light-blue-lighten-3 {
  background-color: #81d4fa !important; }

.bg-light-blue-lighten-2 {
  background-color: #4fc3f7 !important; }

.bg-light-blue-lighten-1 {
  background-color: #29b6f6 !important; }

.bg-light-blue-darken-1 {
  background-color: #039be5 !important; }

.bg-light-blue-darken-2 {
  background-color: #0288d1 !important; }

.bg-light-blue-darken-3 {
  background-color: #0277bd !important; }

.bg-light-blue-darken-4 {
  background-color: #01579b !important; }

.bg-light-blue-accent-1 {
  background-color: #80d8ff !important; }

.bg-light-blue-accent-2 {
  background-color: #40c4ff !important; }

.bg-light-blue-accent-3 {
  background-color: #00b0ff !important; }

.bg-light-blue-accent-4 {
  background-color: #0091ea !important; }

.bg-cyan {
  background-color: #00bcd4 !important; }

.bg-cyan-lighten-5 {
  background-color: #e0f7fa !important; }

.bg-cyan-lighten-4 {
  background-color: #b2ebf2 !important; }

.bg-cyan-lighten-3 {
  background-color: #80deea !important; }

.bg-cyan-lighten-2 {
  background-color: #4dd0e1 !important; }

.bg-cyan-lighten-1 {
  background-color: #26c6da !important; }

.bg-cyan-darken-1 {
  background-color: #00acc1 !important; }

.bg-cyan-darken-2 {
  background-color: #0097a7 !important; }

.bg-cyan-darken-3 {
  background-color: #00838f !important; }

.bg-cyan-darken-4 {
  background-color: #006064 !important; }

.bg-cyan-accent-1 {
  background-color: #84ffff !important; }

.bg-cyan-accent-2 {
  background-color: #18ffff !important; }

.bg-cyan-accent-3 {
  background-color: #00e5ff !important; }

.bg-cyan-accent-4 {
  background-color: #00b8d4 !important; }

.bg-teal {
  background-color: #009688 !important; }

.bg-teal-lighten-5 {
  background-color: #e0f2f1 !important; }

.bg-teal-lighten-4 {
  background-color: #b2dfdb !important; }

.bg-teal-lighten-3 {
  background-color: #80cbc4 !important; }

.bg-teal-lighten-2 {
  background-color: #4db6ac !important; }

.bg-teal-lighten-1 {
  background-color: #26a69a !important; }

.bg-teal-darken-1 {
  background-color: #00897b !important; }

.bg-teal-darken-2 {
  background-color: #00796b !important; }

.bg-teal-darken-3 {
  background-color: #00695c !important; }

.bg-teal-darken-4 {
  background-color: #004d40 !important; }

.bg-teal-accent-1 {
  background-color: #a7ffeb !important; }

.bg-teal-accent-2 {
  background-color: #64ffda !important; }

.bg-teal-accent-3 {
  background-color: #1de9b6 !important; }

.bg-teal-accent-4 {
  background-color: #00bfa5 !important; }

.bg-green {
  background-color: #4CAF50 !important; }

.bg-green-lighten-5 {
  background-color: #E8F5E9 !important; }

.bg-green-lighten-4 {
  background-color: #C8E6C9 !important; }

.bg-green-lighten-3 {
  background-color: #A5D6A7 !important; }

.bg-green-lighten-2 {
  background-color: #81C784 !important; }

.bg-green-lighten-1 {
  background-color: #66BB6A !important; }

.bg-green-darken-1 {
  background-color: #43A047 !important; }

.bg-green-darken-2 {
  background-color: #388E3C !important; }

.bg-green-darken-3 {
  background-color: #2E7D32 !important; }

.bg-green-darken-4 {
  background-color: #1B5E20 !important; }

.bg-green-accent-1 {
  background-color: #B9F6CA !important; }

.bg-green-accent-2 {
  background-color: #69F0AE !important; }

.bg-green-accent-3 {
  background-color: #00E676 !important; }

.bg-green-accent-4 {
  background-color: #00C853 !important; }

.bg-light-green {
  background-color: #8bc34a !important; }

.bg-light-green-lighten-5 {
  background-color: #f1f8e9 !important; }

.bg-light-green-lighten-4 {
  background-color: #dcedc8 !important; }

.bg-light-green-lighten-3 {
  background-color: #c5e1a5 !important; }

.bg-light-green-lighten-2 {
  background-color: #aed581 !important; }

.bg-light-green-lighten-1 {
  background-color: #9ccc65 !important; }

.bg-light-green-darken-1 {
  background-color: #7cb342 !important; }

.bg-light-green-darken-2 {
  background-color: #689f38 !important; }

.bg-light-green-darken-3 {
  background-color: #558b2f !important; }

.bg-light-green-darken-4 {
  background-color: #33691e !important; }

.bg-light-green-accent-1 {
  background-color: #ccff90 !important; }

.bg-light-green-accent-2 {
  background-color: #b2ff59 !important; }

.bg-light-green-accent-3 {
  background-color: #76ff03 !important; }

.bg-light-green-accent-4 {
  background-color: #64dd17 !important; }

.bg-lime {
  background-color: #cddc39 !important; }

.bg-lime-lighten-5 {
  background-color: #f9fbe7 !important; }

.bg-lime-lighten-4 {
  background-color: #f0f4c3 !important; }

.bg-lime-lighten-3 {
  background-color: #e6ee9c !important; }

.bg-lime-lighten-2 {
  background-color: #dce775 !important; }

.bg-lime-lighten-1 {
  background-color: #d4e157 !important; }

.bg-lime-darken-1 {
  background-color: #c0ca33 !important; }

.bg-lime-darken-2 {
  background-color: #afb42b !important; }

.bg-lime-darken-3 {
  background-color: #9e9d24 !important; }

.bg-lime-darken-4 {
  background-color: #827717 !important; }

.bg-lime-accent-1 {
  background-color: #f4ff81 !important; }

.bg-lime-accent-2 {
  background-color: #eeff41 !important; }

.bg-lime-accent-3 {
  background-color: #c6ff00 !important; }

.bg-lime-accent-4 {
  background-color: #aeea00 !important; }

.bg-yellow {
  background-color: #ffeb3b !important; }

.bg-yellow-lighten-5 {
  background-color: #fffde7 !important; }

.bg-yellow-lighten-4 {
  background-color: #fff9c4 !important; }

.bg-yellow-lighten-3 {
  background-color: #fff59d !important; }

.bg-yellow-lighten-2 {
  background-color: #fff176 !important; }

.bg-yellow-lighten-1 {
  background-color: #ffee58 !important; }

.bg-yellow-darken-1 {
  background-color: #fdd835 !important; }

.bg-yellow-darken-2 {
  background-color: #fbc02d !important; }

.bg-yellow-darken-3 {
  background-color: #f9a825 !important; }

.bg-yellow-darken-4 {
  background-color: #f57f17 !important; }

.bg-yellow-accent-1 {
  background-color: #ffff8d !important; }

.bg-yellow-accent-2 {
  background-color: #ffff00 !important; }

.bg-yellow-accent-3 {
  background-color: #ffea00 !important; }

.bg-yellow-accent-4 {
  background-color: #ffd600 !important; }

.bg-amber {
  background-color: #ffc107 !important; }

.bg-amber-lighten-5 {
  background-color: #fff8e1 !important; }

.bg-amber-lighten-4 {
  background-color: #ffecb3 !important; }

.bg-amber-lighten-3 {
  background-color: #ffe082 !important; }

.bg-amber-lighten-2 {
  background-color: #ffd54f !important; }

.bg-amber-lighten-1 {
  background-color: #ffca28 !important; }

.bg-amber-darken-1 {
  background-color: #ffb300 !important; }

.bg-amber-darken-2 {
  background-color: #ffa000 !important; }

.bg-amber-darken-3 {
  background-color: #ff8f00 !important; }

.bg-amber-darken-4 {
  background-color: #ff6f00 !important; }

.bg-amber-accent-1 {
  background-color: #ffe57f !important; }

.bg-amber-accent-2 {
  background-color: #ffd740 !important; }

.bg-amber-accent-3 {
  background-color: #ffc400 !important; }

.bg-amber-accent-4 {
  background-color: #ffab00 !important; }

.bg-orange {
  background-color: #ff9800 !important; }

.bg-orange-lighten-5 {
  background-color: #fff3e0 !important; }

.bg-orange-lighten-4 {
  background-color: #ffe0b2 !important; }

.bg-orange-lighten-3 {
  background-color: #ffcc80 !important; }

.bg-orange-lighten-2 {
  background-color: #ffb74d !important; }

.bg-orange-lighten-1 {
  background-color: #ffa726 !important; }

.bg-orange-darken-1 {
  background-color: #fb8c00 !important; }

.bg-orange-darken-2 {
  background-color: #f57c00 !important; }

.bg-orange-darken-3 {
  background-color: #ef6c00 !important; }

.bg-orange-darken-4 {
  background-color: #e65100 !important; }

.bg-orange-accent-1 {
  background-color: #ffd180 !important; }

.bg-orange-accent-2 {
  background-color: #ffab40 !important; }

.bg-orange-accent-3 {
  background-color: #ff9100 !important; }

.bg-orange-accent-4 {
  background-color: #ff6d00 !important; }

.bg-deep-orange {
  background-color: #ff5722 !important; }

.bg-deep-orange-lighten-5 {
  background-color: #fbe9e7 !important; }

.bg-deep-orange-lighten-4 {
  background-color: #ffccbc !important; }

.bg-deep-orange-lighten-3 {
  background-color: #ffab91 !important; }

.bg-deep-orange-lighten-2 {
  background-color: #ff8a65 !important; }

.bg-deep-orange-lighten-1 {
  background-color: #ff7043 !important; }

.bg-deep-orange-darken-1 {
  background-color: #f4511e !important; }

.bg-deep-orange-darken-2 {
  background-color: #e64a19 !important; }

.bg-deep-orange-darken-3 {
  background-color: #d84315 !important; }

.bg-deep-orange-darken-4 {
  background-color: #bf360c !important; }

.bg-deep-orange-accent-1 {
  background-color: #ff9e80 !important; }

.bg-deep-orange-accent-2 {
  background-color: #ff6e40 !important; }

.bg-deep-orange-accent-3 {
  background-color: #ff3d00 !important; }

.bg-deep-orange-accent-4 {
  background-color: #dd2c00 !important; }

.bg-brown {
  background-color: #795548 !important; }

.bg-brown-lighten-5 {
  background-color: #efebe9 !important; }

.bg-brown-lighten-4 {
  background-color: #d7ccc8 !important; }

.bg-brown-lighten-3 {
  background-color: #bcaaa4 !important; }

.bg-brown-lighten-2 {
  background-color: #a1887f !important; }

.bg-brown-lighten-1 {
  background-color: #8d6e63 !important; }

.bg-brown-darken-1 {
  background-color: #6d4c41 !important; }

.bg-brown-darken-2 {
  background-color: #5d4037 !important; }

.bg-brown-darken-3 {
  background-color: #4e342e !important; }

.bg-brown-darken-4 {
  background-color: #3e2723 !important; }

.bg-blue-grey {
  background-color: #607d8b !important; }

.bg-blue-grey-lighten-5 {
  background-color: #eceff1 !important; }

.bg-blue-grey-lighten-4 {
  background-color: #cfd8dc !important; }

.bg-blue-grey-lighten-3 {
  background-color: #b0bec5 !important; }

.bg-blue-grey-lighten-2 {
  background-color: #90a4ae !important; }

.bg-blue-grey-lighten-1 {
  background-color: #78909c !important; }

.bg-blue-grey-darken-1 {
  background-color: #546e7a !important; }

.bg-blue-grey-darken-2 {
  background-color: #455a64 !important; }

.bg-blue-grey-darken-3 {
  background-color: #37474f !important; }

.bg-blue-grey-darken-4 {
  background-color: #263238 !important; }

.bg-grey {
  background-color: #9e9e9e !important; }

.bg-grey-lighten-5 {
  background-color: #fafafa !important; }

.bg-grey-lighten-4 {
  background-color: #f5f5f5 !important; }

.bg-grey-lighten-3 {
  background-color: #eeeeee !important; }

.bg-grey-lighten-2 {
  background-color: #e0e0e0 !important; }

.bg-grey-lighten-1 {
  background-color: #bdbdbd !important; }

.bg-grey-darken-1 {
  background-color: #757575 !important; }

.bg-grey-darken-2 {
  background-color: #616161 !important; }

.bg-grey-darken-3 {
  background-color: #424242 !important; }

.bg-grey-darken-4 {
  background-color: #212121 !important; }

.bg-gold {
  background-color: #ac7224 !important; }

.bg-social-accupass {
  background-color: #0088d2 !important; }

.bg-social-pinkoi {
  background-color: #E95E8B !important; }

.bg-social-youku {
  background-color: #ec0001 !important; }

.bg-social-tudou {
  background-color: #ed592b !important; }

.bg-social-baidu {
  background-color: #2529d8 !important; }

.bg-social-blogger {
  background-color: #f57d00 !important; }

.bg-social-vimeo {
  background-color: #1ab7ea !important; }

.bg-social-youtube {
  background-color: #ff0000 !important; }

.bg-social-linkedin {
  background-color: #0077b5 !important; }

.bg-social-facebook {
  background-color: #3b5998 !important; }

.bg-social-line {
  background-color: #00c300 !important; }

.bg-social-twitter {
  background-color: #1da1f2 !important; }

.bg-social-pinterest {
  background-color: #bd081c !important; }

.bg-social-google-plus {
  background-color: #dd4b39 !important; }

.bg-social-plurk {
  background-color: #de411d !important; }

.bg-social-qqchat {
  background-color: #000000 !important; }

.bg-social-sina-weibo {
  background-color: #f50000 !important; }

.bg-social-renren {
  background-color: #217dc6 !important; }

.bg-social-instagram {
  background-color: #c13584 !important; }

.bg-social-wechat {
  background-color: #51c332 !important; }

.bg-ccwork-channel {
  background-color: #00c2e2 !important; }

.bg-ccwork-event {
  background-color: #00c300 !important; }

.bg-ccwork-mart {
  background-color: #ed6e1c !important; }

.bg-ccwork-corp {
  background-color: #bd081c !important; }

.bg-black {
  background-color: #000000 !important; }

.bg-white {
  background-color: #FFFFFF !important; }

.bg-transparent {
  background-color: transparent !important; }
