#header-chat-list ul, #header-chat-list ol, #header-chat-list li, #header-chat-list a, .chatroom-container ul, .chatroom-container ol, .chatroom-container li, .chatroom-container a:not([class*='btn-']) {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

#header-chat-list .chat-list a, .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

#header-chat-list .chat-list .chat-content .chat-title, #header-chat-list .chat-list .chat-content .chat-description, .chatroom-container .chatroom-header .info h6, .chatroom-container .chatroom-header .info .description .chatroom-description p {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.header-chat {
  display: inline-block; }

.nav-chat {
  z-index: 1002; }

#header-chat-list {
  position: absolute;
  width: 350px;
  top: calc(100% + 10px);
  right: -30px;
  line-height: 1;
  z-index: 5; }
  @media only screen and (max-width: 420px) {
    #header-chat-list {
      width: 320px; } }
  #header-chat-list .chat-utility {
    width: 100%;
    padding: 8px 5px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    color: #757575;
    text-align: left; }
    #header-chat-list .chat-utility .chat-list-close {
      float: right;
      color: #000; }
    #header-chat-list .chat-utility .tab-list {
      display: inline-block;
      font-size: 14px; }
      #header-chat-list .chat-utility .tab-list a {
        padding: 0 5px !important;
        color: #bfbfbf;
        display: inline-block; }
        #header-chat-list .chat-utility .tab-list a:hover {
          color: #000; }
        #header-chat-list .chat-utility .tab-list a.active {
          color: #000; }
    #header-chat-list .chat-utility i {
      font-size: 14px; }
  #header-chat-list .chat-list {
    position: relative;
    background-color: #fff;
    height: 100%;
    overflow: auto;
    border: 1px solid #e0e0e0;
    margin-top: -1px;
    max-height: 80vh;
    display: none;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent; }
    #header-chat-list .chat-list.active {
      display: block; }
    #header-chat-list .chat-list li {
      position: relative; }
      #header-chat-list .chat-list li:not(:last-child) {
        border-bottom: 1px solid #e0e0e0; }
    #header-chat-list .chat-list .chat-delete {
      position: absolute;
      cursor: pointer;
      top: 6px;
      right: 10px;
      z-index: 1; }
      #header-chat-list .chat-list .chat-delete i {
        font-size: 15px; }
    #header-chat-list .chat-list a {
      color: #616161; }
      #header-chat-list .chat-list a.is-unread .chat-content .chat-number {
        display: inline-block;
        opacity: 1;
        visibility: visible; }
    #header-chat-list .chat-list .chat-profile {
      width: 65px; }
      #header-chat-list .chat-list .chat-profile .bg-img {
        padding-bottom: 100%; }
    #header-chat-list .chat-list .chat-content {
      position: relative;
      width: calc(100% - 65px);
      text-align: left;
      padding: 20px 48px 10px 10px; }
      #header-chat-list .chat-list .chat-content .chat-time {
        position: absolute;
        top: 6px;
        right: 35px;
        font-size: 13px; }
      #header-chat-list .chat-list .chat-content .chat-number {
        display: none;
        position: absolute;
        height: 14px;
        font-size: 12px;
        line-height: 11px;
        padding: 1px 4px;
        border-radius: 100px;
        background-color: #F44336;
        color: #ffffff;
        text-align: center;
        right: 10px;
        top: calc(50% + 10px);
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease; }
      #header-chat-list .chat-list .chat-content .chat-title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 7px; }
      #header-chat-list .chat-list .chat-content .chat-description {
        font-size: 12px; }

.chatroom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }
  .chatroom-container .chatroom-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-shadow: 0 1px 4px rgba(167, 167, 167, 0.4);
            box-shadow: 0 1px 4px rgba(167, 167, 167, 0.4); }
    .chatroom-container .chatroom-header #closeChat {
      position: absolute;
      right: 0;
      top: 0;
      color: #616161;
      z-index: 5; }
    .chatroom-container .chatroom-header .user {
      width: 80px; }
      .chatroom-container .chatroom-header .user .bg-img {
        padding-top: 100%; }
    .chatroom-container .chatroom-header .info {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: calc(100% - 80px);
      padding: 10px 25px 10px 15px; }
      .chatroom-container .chatroom-header .info h6 {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 16px; }
        .chatroom-container .chatroom-header .info h6 a {
          text-decoration: none;
          color: #000000; }
          .chatroom-container .chatroom-header .info h6 a:focus, .chatroom-container .chatroom-header .info h6 a:active, .chatroom-container .chatroom-header .info h6 a:hover {
            color: #000000; }
        .chatroom-container .chatroom-header .info h6 > div {
          display: inline-block;
          vertical-align: middle; }
        .chatroom-container .chatroom-header .info h6 ~ div {
          font-size: 13px; }
      .chatroom-container .chatroom-header .info .description {
        position: relative; }
        .chatroom-container .chatroom-header .info .description > * {
          display: inline-block;
          vertical-align: middle; }
        .chatroom-container .chatroom-header .info .description a {
          color: #757575;
          font-size: 16px;
          margin-right: 3px; }
          .chatroom-container .chatroom-header .info .description a:focus, .chatroom-container .chatroom-header .info .description a:active, .chatroom-container .chatroom-header .info .description a:hover {
            color: #757575; }
        .chatroom-container .chatroom-header .info .description .edit-chatroom-description {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1; }
        .chatroom-container .chatroom-header .info .description .edit-chatroom-description-cancel {
          position: absolute;
          left: 0;
          top: 3px;
          z-index: 1; }
        .chatroom-container .chatroom-header .info .description .chatroom-description {
          padding-right: 60px;
          padding-left: 22px;
          margin-left: 0;
          margin-top: 0; }
          .chatroom-container .chatroom-header .info .description .chatroom-description p {
            font-size: 14px; }
          .chatroom-container .chatroom-header .info .description .chatroom-description input[type="text"] {
            height: 27px;
            font-size: 14px;
            padding: 0 4px 0 0;
            z-index: 0; }
          .chatroom-container .chatroom-header .info .description .chatroom-description .edit-chatroom-description-save {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
            margin-right: 0;
            color: #fff;
            z-index: 1; }
  .chatroom-container .chatroom-body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto; }
    .chatroom-container .chatroom-body .narration {
      margin: 30px 0;
      text-align: center;
      color: #bdbdbd;
      font-size: 12px; }
      .chatroom-container .chatroom-body .narration + .narration {
        margin: -20px 0 30px; }
    .chatroom-container .chatroom-body .pd-info {
      background-color: #e0e0e0;
      padding: 10px 12px;
      border-radius: 6px;
      margin: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .chatroom-container .chatroom-body .pd-info .photo {
        width: 60px;
        margin-right: 10px; }
        .chatroom-container .chatroom-body .pd-info .photo .bg-img {
          padding-top: 100%; }
      .chatroom-container .chatroom-body .pd-info .text > div ~ div {
        margin-top: 6px; }
      .chatroom-container .chatroom-body .pd-info .text > div > span {
        margin-left: 3px; }
    .chatroom-container .chatroom-body .balloon {
      position: relative;
      width: auto;
      max-width: 81%;
      margin: 30px 0 20px;
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .chatroom-container .chatroom-body .balloon.you .talk {
        background-color: #e0e0e0;
        margin-left: 5px; }
      .chatroom-container .chatroom-body .balloon.you .name {
        left: 66px; }
      .chatroom-container .chatroom-body .balloon.you .outer {
        margin-left: 5px; }
      .chatroom-container .chatroom-body .balloon.me {
        float: right;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        .chatroom-container .chatroom-body .balloon.me .talk {
          background-color: #bdbdbd;
          margin-right: 5px;
          direction: ltr; }
        .chatroom-container .chatroom-body .balloon.me .name {
          right: 66px; }
        .chatroom-container .chatroom-body .balloon.me .outer {
          margin-right: 5px;
          text-align: right; }
      .chatroom-container .chatroom-body .balloon .outer {
        font-size: 12px;
        -ms-flex-item-align: end;
            align-self: flex-end; }
      .chatroom-container .chatroom-body .balloon .photo {
        width: 40px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40px;
                flex: 0 0 40px; }
        .chatroom-container .chatroom-body .balloon .photo .bg-img {
          padding-top: 100%;
          border-radius: 100%;
          overflow: hidden; }
      .chatroom-container .chatroom-body .balloon .name {
        font-size: 12px;
        position: absolute;
        top: -20px; }
      .chatroom-container .chatroom-body .balloon .talk {
        position: relative;
        font-size: 15px;
        padding: 6px 12px;
        border-radius: 20px; }
        .chatroom-container .chatroom-body .balloon .talk .check-img {
          display: block;
          overflow: hidden;
          margin: -6px -12px;
          border-radius: 20px; }
        .chatroom-container .chatroom-body .balloon .talk .title a {
          color: #212121; }
        .chatroom-container .chatroom-body .balloon .talk .subtitle {
          margin-bottom: 10px; }
        .chatroom-container .chatroom-body .balloon .talk p ~ p {
          margin-top: 10px; }
  .chatroom-container .chatroom-message {
    justify-self: flex-end;
    background-color: #e0e0e0; }
    .chatroom-container .chatroom-message .quick-comment {
      position: relative;
      padding: 0 10px;
      background-color: #f2f2f2; }
      .chatroom-container .chatroom-message .quick-comment .quick-comment-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        width: calc(100% - 25px);
        min-height: 35px;
        padding: 10px 0;
        overflow: auto; }
      .chatroom-container .chatroom-message .quick-comment > a {
        position: absolute;
        right: 0;
        top: 0; }
    .chatroom-container .chatroom-message .typing {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px;
      padding-right: 5px; }
      .chatroom-container .chatroom-message .typing .fileuploader {
        width: auto;
        margin-right: 8px;
        margin-top: 0;
        color: #424242; }
      .chatroom-container .chatroom-message .typing .fileuploader-input {
        padding: 0;
        background-color: transparent;
        font-size: 24px; }
      .chatroom-container .chatroom-message .typing .fileuploader-items {
        display: none; }
      .chatroom-container .chatroom-message .typing textarea {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        resize: none;
        height: 1.5em; }
  .chatroom-container .chatroom-pre-select {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6; }
    .chatroom-container .chatroom-pre-select .chatroom-pre-select-container {
      position: fixed;
      width: 90%;
      height: 90%;
      max-width: 420px;
      max-height: 460px;
      padding: 3px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #fff;
      -webkit-box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.5);
      z-index: 5; }
      .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .chatroom-pre-select-close {
        position: absolute;
        top: 0px;
        right: 0px; }
      .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner {
        height: 100%;
        padding: 12px 12px 12px 15px;
        overflow: auto;
        -webkit-overflow-scrolling: touch; }
        .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner::-webkit-scrollbar {
          width: 2px;
          height: 2px;
          -webkit-border-radius: 2px; }
        .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner::-webkit-scrollbar-track {
          -webkit-border-radius: 2px;
          background-color: rgba(0, 0, 0, 0.1); }
        .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .container-inner::-webkit-scrollbar-thumb {
          -webkit-border-radius: 2px;
          background: #9e9e9e; }
      .chatroom-container .chatroom-pre-select .chatroom-pre-select-container h3 {
        margin-bottom: 10px; }
      .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .pre-select-list {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #bdbdbd; }
        .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .pre-select-list li {
          margin-bottom: 8px; }
      .chatroom-container .chatroom-pre-select .chatroom-pre-select-container .pre-select-utility {
        justify-self: flex-end; }

.comment-chip {
  position: relative;
  margin-right: 5px;
  padding: 1px 25px 1px 12px;
  font-size: 13px;
  background-color: #e0e0e0;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer; }
  .comment-chip .delete-comment {
    position: absolute;
    right: 8px;
    top: 2px;
    cursor: pointer;
    font-size: 12px;
    color: #555; }
    .comment-chip .delete-comment:hover {
      color: #eeeeee; }

.addChipBox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .addChipBox #chatroomChipMode {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff; }
    .addChipBox #chatroomChipMode .forms {
      margin: 20px 20px 70px; }
