
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div class="erreoMsg">
        <div class="errorImage">
            <div class="layer" data-depth="0.25"><img src="~/images/404_face.png"></div>
        </div>

        <div class="errorText">
            <div class="title"><span>404</span><br>Page not found</div>
            <div class="txt">
                <p>不好意思，迷失的網頁找不到歸路！</p>
                <p>你可以<a href="javascript:history.back()">回上一頁</a>繼續旅程，或重新<a href="@Url.Action("Index", "Home")">前往首頁</a>，發現更多美好 ...</p>
            </div>
        </div>
    </div>
    
    <link rel="stylesheet" href="~/css/Cards/ErrorPages/style1.css" type="text/css" />
    <script src="~/script/Jquery/jquery-3.1.1.js"></script>
    <script src="~/script/Parallax/jquery.parallax.js"></script>
</body>
</html>
