footer.zone-full
  .wrapper
    .groove.groove-1
      .card-imageTextList(data-style="5")
        .card-box.row
          .col.col-10x6
            .footerLogo
              a(href="")
              img(src="image/logoFooter.png", alt="")
            .footer-infoList
              .infoBox
                ul
                  li
                    a(href="javascript:;") 話題
                  li
                    a(href="javascript:;") 運動部落
                  li
                    a(href="javascript:;") 人物誌
                  li
                    a(href="javascript:;") 知識庫
                  li
                    a(href="javascript:;") 動學堂
                  li
                    a(href="javascript:;") 配備館
                  li
                    a(href="javascript:;") 運動資源
                  li
                    a(href="javascript:;") 活動賽事
                  li
                    a(href="javascript:;") 話題
                  li
                    a(href="javascript:;") 運動部落
                  li
                    a(href="javascript:;") 人物誌
                  li
                    a(href="javascript:;") 知識庫
                  li
                    a(href="javascript:;") 動學堂
                  li
                    a(href="javascript:;") 配備館
                  li
                    a(href="javascript:;") 運動資源
                  //- li
                  //-   a(href="javascript:;") 史考特醫師專欄
                  //- li
                  //-   a(href="javascript:;") 老漁翁運動故事專欄
                  //- li
                  //-   a(href="javascript:;") 陳怡錞營養師專欄
                  //- li
                  //-   a(href="javascript:;") 蘇政瑜營養師專欄
                  //- li
                  //-   a(href="javascript:;") 林昱廷醫師專欄
                  //- li
                  //-   a(href="javascript:;") 營養師天團專欄
                  //- li
                  //-   a(href="javascript:;") 許立杰醫師
              //- .infoBox
              //-   ul
              //-     li
              //-       a(href="") 戶外
              //-     li
              //-       a(href="") 室內
              //-     li
              //-       a(href="") 球類
              //-     li
              //-       a(href="") 水與冰
              //-     li
              //-       a(href="") 配備
              //-     li
              //-       a(href="") 休閒
              //-     li
              //-       a(href="") 賽事
              //-     li
              //-       a(href="") Kids
              //-     li
              //-       a(href="") 健康
              //-     li
              //-       a(href="") 會員
          //- .col.col-3
            //- .footer-title FOLLOW US
            //- .link-list
            //-   a(href="")
            //-     i.icon-cc-rss
            //-   a(href="")
            //-     i.icon-cc-facebook
            //-   a(href="")
            //-     i.icon-cc-instagram
            
          .col.col-10x4
            .footer-title ABOUT
            .copright Copyright © 2017 SPORTSPLANETMAG.COM 
              br
              | All Right Reserved.    
            //- .text-en This Site as a whole is protected by copyright and other intellectual property rights
            .text-cn 版權所有：城邦出版人墨刻出版股份有限公司 
            .footer-title CONTACT US
            .URL-icon
              i.cc.cc-email
            .URL-info 
              a(href="mailto:service@sportsplanetmag.com") service@sportsplanetmag.com
              //- a(href="http://www.sportsplanetmag.com") www.sportsplanetmag.com
            //- .fb-page(data-href="https://www.facebook.com/sportsplanetmag" data-hide-cover="false" data-show-facepile="false")
            //-   blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/sportsplanetmag" )
            //-     a(href="https://www.facebook.com/sportsplanetmag") 運動星球
              
    .groove.groove-1
      .card-imageTextList(data-style="6")
        ul
          li
            a(href="info.html#About") 關於我們
          li
            a(href="info.html#Copyright") 著作權聲明
          li
            a(href="info.html#Privacy") 隱私聲明
          li
            a(href="info.html#Disclaimer") 免責聲明
          li
            a(href="info.html#Member") 會員服務

#fb-root
