#header.header.card-header(data-style="2")
  .header-wrapper
    .header-side
      .top-box
        .menu-toggle
          .menu-toggle-hamburger
        .header-logo
          a(href="/index.html")
            img(src="image/logo.png", alt="").normal
    .header-content
      nav.nav
        ul.nav-menu
          li
            a.active(href="javascript:;") 關於我們
          li
            a(href="javascript:;") 專業顧問平台
          li
            a(href="javascript:;") 個人評估檢測
          li
            a(href="javascript:;") 向ASK顧問提出諮詢
          li
            a(href="javascript:;") 線上快速學習
            ul.sub-menu
              li
                a.active(href="javascript:;") 子選項
              li
                a(href="javascript:;") 子選項
              li
                a(href="javascript:;") 子選項
              li
                a(href="javascript:;") 子選項
              li
                a(href="javascript:;") 子選項
          li
            a(href="javascript:;") 標準培訓課程
          li
            a(href="javascript:;") 聯絡我們
          li
            a.member(href="javascript:;") 會員專區
            ul.sub-menu
              li
                a(href="javascript:;") 登出
              li
                a(href="javascript:;") 會員設定

          
//-include sportmap
//-include competition



