#header.header.card-header(data-style="2")
  .header-wrapper
    .header-side
      .top-box
        .menu-toggle
          .menu-toggle-hamburger
        .header-logo
          a(href="/index.html")
            img(src="image/logo-w.png", alt="").normal
            //- img(src="image/logo-bk.png", alt="").shrink
      //- .side-box
      //-   .menu#navMenu
      //-     .main
      //-       .webSearch-box
      //-         .webSearch
      //-           input(type="text")
      //-           a(href="javascript:;")
      //-             i.icon-cc-search
      //-       .side-menu-box
      //-         ul.nav-menu
      //-           li
      //-             a(href="javascript:;") 話題
      //-           li
      //-             a(href="javascript:;") 運動部落
      //-           li
      //-             a(href="javascript:;") 人物誌
      //-           li
      //-             a(href="javascript:;") 知識庫
      //-           li
      //-             a(href="javascript:;") 動學堂
      //-             //- ul.sub-menu
      //-             //-   li
      //-             //-     a(href="javascript:;") 健身
      //-             //-   li
      //-             //-     a(href="javascript:;") 跑步
      //-             //-   li
      //-             //-     a(href="javascript:;") 瑜珈
      //-             //-   li
      //-             //-     a(href="javascript:;") 游泳
      //-             //-   li
      //-             //-     a(href="javascript:;") 其他
      //-           li
      //-             a(href="javascript:;") 配備館
      //-           li
      //-             a(href="javascript:;") 運動資源
      //-             //- ul.sub-menu
      //-             //-   li
      //-             //-     a(href="javascript:;") 資源報導
      //-             //-   li
      //-             //-     a(href="javascript:;") 運動地圖
      //-           li
      //-             a(href="javascript:;") 活動賽事
      //-             //- ul.sub-menu
      //-             //-   li
      //-             //-     a(href="javascript:;") 賽事直擊
      //-             //-   li
      //-             //-     a(href="javascript:;") 賽事行事曆
                
      //-         ul.nav-menu
      //-           li
      //-             a(href="javascript:;") 健身
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 減重
      //-             //-   li
      //-             //-     a(href="javascript:;") 重量訓練
      //-             //-   li
      //-             //-     a(href="javascript:;") 有氧
      //-           li
      //-             a(href="javascript:;") 跑步
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 跑步
      //-             //-   li
      //-             //-     a(href="javascript:;") 馬拉松
      //-             //-   li
      //-             //-     a(href="javascript:;") 越野
      //-           li
      //-             a(href="javascript:;") 健康
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 保養
      //-             //-   li
      //-             //-     a(href="javascript:;") 醫療
      //-             //-   li
      //-             //-     a(href="javascript:;") 飲食
      //-           li
      //-             a(href="javascript:;") 舞蹈
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 國標舞
      //-             //-   li
      //-             //-     a(href="javascript:;") 街舞
      //-           li
      //-             a(href="javascript:;") 休閒
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 冒險
      //-             //-   li
      //-             //-     a(href="javascript:;") 旅行
      //-           li
      //-             a(href="javascript:;") 戶外
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 登山
      //-             //-   li
      //-             //-     a(href="javascript:;") 健行
      //-           li
      //-             a(href="javascript:;") 水與冰
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 水上
      //-             //-   li
      //-             //-     a(href="javascript:;") 冰雪
      //-           li
      //-             a(href="javascript:;") 車輛
      //-             //- ul.tag
      //-             //-   li
      //-             //-     a(href="javascript:;") 單車
      //-           li
      //-             a(href="javascript:;") 瑜珈
      //-           li
      //-             a(href="javascript:;") 武術
      //-           li
      //-             a(href="javascript:;") 球類
      //-           li
      //-             a(href="javascript:;") 空中
      //-           li
      //-             a(href="javascript:;") 兒童
      //-           li
      //-             a(href="javascript:;") 鐵人三項
      //-           li.half
      //-             a(href="javascript:;") 極限運動
      //-         ul.nav-menu.article-tag
      //-           li
      //-             a(href="javascript:;") 王心恬專欄
      //-           li
      //-             a(href="javascript:;") 白祐帆專欄
      //-           li
      //-             a(href="javascript:;") 古鎮榮專欄
      //-           li
      //-             a(href="javascript:;") 鄭匡寓專欄
      //-           li
      //-             a(href="javascript:;") 楊志祥專欄
      //-           li
      //-             a(href="javascript:;") 徐正賢專欄
      //-           li
      //-             a(href="javascript:;") 曾永麟專欄
      //-           li
      //-             a(href="javascript:;") 陳瑞龍專欄
      //-           li
      //-             a(href="javascript:;") 史考特醫師專欄
      //-           li
      //-             a(href="javascript:;") 老漁翁運動故事專欄
      //-           li
      //-             a(href="javascript:;") 陳怡錞營養師專欄
      //-           li
      //-             a(href="javascript:;") 蘇政瑜營養師專欄
      //-           li
      //-             a(href="javascript:;") 林昱廷醫師專欄
      //-           li
      //-             a(href="javascript:;") 營養師天團專欄
      //-           li
      //-             a(href="javascript:;") 許立杰醫師
      //-       ul.side-share
      //-         li
      //-           a(href="https://www.facebook.com/sportsplanetmag" target="_blank")
      //-             i.icon-cc-facebook-ring
      //-         li
      //-           a(href="https://www.instagram.com/sportsplanetmag/" target="_blank")
      //-             i.icon-cc-instagram-ring
      //-         li
      //-           a(href="https://play.google.com/store/newsstand/news/%E9%81%8B%E5%8B%95%E6%98%9F%E7%90%83?id=CAowt5zeCg" target="_blank")
      //-             i.icon-cc-news-ring
      //-         li
      //-           a(href="" target="_blank")
      //-             i.icon-cc-rss

    .header-content
      nav.nav
        ul.nav-menu
          li
            a(href="javascript:;") 話題
          li
            a(href="javascript:;") 運動部落
          li
            a(href="javascript:;") 人物誌
          li
            a(href="javascript:;") 知識庫
          li
            a(href="javascript:;") 動學堂
            //- ul.sub-menu
            //-   li
            //-     a(href="javascript:;") 健身
            //-   li
            //-     a(href="javascript:;") 跑步
            //-   li
            //-     a(href="javascript:;") 瑜珈
            //-   li
            //-     a(href="javascript:;") 游泳
            //-   li
            //-     a(href="javascript:;") 其他
          li
            a(href="javascript:;") 配備館
          li
            a(href="javascript:;") 運動資源
            //- ul.sub-menu
            //-   li
            //-     a(href="javascript:;") 資源報導
            //-   li
            //-     a(href="javascript:;") 運動地圖
          li
            a(href="javascript:;") 活動賽事
            //- ul.sub-menu
            //-   li
            //-     a(href="javascript:;") 賽事直擊
            //-   li
            //-     a(href="javascript:;") 賽事行事曆
    
  .breadCrumb
    .wrapper
      ul
        li 
          a(href="/") 首頁
        li 
          a(href="/") 馬拉松
        li
          a(href="/") 2018德國柏林馬拉松之 一場不應該參加的馬拉松 馬拉松的心歷路程分享

//- .menu-open-background

.gotop#gotop
  a(href="javascript:;")
    i.icon-cc-lnr-chevron-up