script(src='script/Jquery/jquery-3.1.1.min.js')
//script(src='script/OwlCarousel2-2.3.4/owl.carousel.min.js')
    script(src='script/inobounce/inobounce.min.js')

script(src='script/index.min.js')



