.card-imageTextList[data-style="30"] {
  text-align: center;
  font-size: 0; }
  .card-imageTextList[data-style="30"]::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 1024px) {
    .card-imageTextList[data-style="30"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      overflow-x: auto;
      padding-left: 40px;
      -webkit-overflow-scrolling: touch; } }
  .card-imageTextList[data-style="30"] > div {
    font-size: initial;
    float: none;
    width: calc((100% - (20px * 5)) / 5);
    margin: 0 10px 20px;
    display: inline-block; }
    @media only screen and (max-width: 1024px) {
      .card-imageTextList[data-style="30"] > div {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 280px;
                flex: 0 0 280px;
        margin: 0;
        padding-right: 25px; } }
    @media only screen and (max-width: 420px) {
      .card-imageTextList[data-style="30"] > div .card-img > a {
        width: 100%; } }
