@model PlainTextModel

<link href="~/css/Cards/PlainText/style8.css" rel="stylesheet" />

<div id="plainText_@Model.CardNo" class="card-plainText" data-style="8">
    <div class="title-main">@Model.Title</div>
    <div class="title-sub">@Html.Raw(Model.Description)</div>
</div>