
@{
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";
}

<div class="groove groove-1">
    <div class="lightbox-top-bar">
        <div class="lightbox-top-bar-title">密碼驗證</div>
    </div>
    <div class="col-1 p-5">
        請輸入密碼<br/>
        <input type="text" id="PassWord" name="PassWord" />
    </div>
    <div class="control-bar">
        <a id="btnSave" class="btn-bulid" href="javascript:"><i class="cc cc-arrow-right"></i>送出</a>
    </div>
</div>

<script>
    $(function () {
        $("#btnSave").on("click", function () {
            var url = '@Url.Action("PayeeCheck")';
            $.post(url, { "workId": '@ViewBag.WorkID', "password": $("#PassWord").val() }, function (data) {
                if (data.Success)
                    parent.location = '@Url.RouteUrl("FrontSitePage", new { SiteSN = ViewBag.SiteSN, PageSn = "SalaryList"})';
                else {
                    if (data.Result == 1) {
                        parent.Component.alert("您的密碼不正確，請重新輸入！");
                    }
                }

            });
        });
    })
</script>