@{ 
    string dateTimeFmt = ViewBag.DateTimeFmt;
    string siteSn = ViewBag.SiteSN;
    string pageSn = ViewBag.PageSN;
}

<link href="~/css/forms.css" rel="stylesheet" />
<link href="~/css/Cards/Member/style1.css" rel="stylesheet" />

    <div class="card-member loginPage" data-style="1">
        <div class="login">
            <div class="login-logo">服務條款</div>
            <div class="login-box">
                <div class="left-box">
                    <ul class="forms">
                        <li>
                            <div class="col-1">
                                <div style="text-align: center;">
                                    歡迎您使用太報網站會員所提供的各類服務，為了保障您的使用權益，在您使用各項服務前，務必詳讀以下條款。一旦您同意，您即應遵守下列各條款的規定。您若違反了下列服務條款的規定時，太報有權隨時暫停或終止您所申請之服務。您若不同意下列各條款之內容，請勿使用本服務。若您對於本服務有任何疑問或建議，請隨時與網站管理員聯絡。
                                </div>
                                <div class="m-T-8">服務內容</div>
                                <div>
                                    <ul>
                                        <li>太報依據本服務條款提供太報網站（www.taisounds.com）服務（已下簡稱「本服務」）。太報網站接到申請與並完成註冊確認程序，您即成為本服務之正式會員（以下稱「會員」），並表示您已閱讀、瞭解並同意接受本服務條款之所有內容。</li>
                                        <li>因本服務所提供之所有相關網域名稱及網路位址，仍屬於太報網站所有，僅於使用期間內依本契約授權用戶使用。太報網站並保留變更相關網域名稱或網路位址之權利。</li>
                                        <li>您使用本服務時，可能會接收到一部分廣告訊息。所有的廣告內容均係由廣告主或廠商所提供，與太報無涉。對於廣告內容的真偽或可靠度，您應自行判斷。</li>
                                        <li>若您透過本服務或經由本服務之連結而締結契約或進行交易，該契約與交易僅存在於您與各相對人之間，其因此所產生之爭訟，您應向各相對人主張權利或尋求救濟，與太報網站無涉。</li>
                                        <li>若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即視為您的家長（或監護人）已閱讀、瞭解並同意接受本服務條款之所有內容及其後修改變更。</li>
                                    </ul>
                                </div>
                                <div class="m-T-8">使用服務之註冊義務</div>
                                <div>
                                    <p>為能使用本服務，您須同意以下事項：</p>
                                    <ol>
                                        <li>依本服務註冊表之提示提供您本人正確、最新及完整資料。</li>
                                        <li>維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤、不實或不完整資料，太報有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。</li>
                                        <li>太報將以您所設定的使用者帳號和密碼來認證您的身分，您必須為經由這個使用者帳號和密碼所進行的所有行為負責。為維護您的權益，請勿將帳號提供予他人使用。</li>
                                        <li>您應於每次連線完畢，均結束您的帳號使用；如果您發現或懷疑您的使用者名稱和密碼被其他人冒用，應立即通知本服務的網站管理員。</li>
                                        <li>太報將遵守隱私權保護政策，保護每一位用戶的隱私，不會任意監視、增刪、修改或關閉，或將個人資料及郵件內容交予第三者，包括贊助之廣告廠商。</li>
                                    </ol>
                                </div>
                                <div class="m-T-8">本服務之使用</div>
                                <div>
                                    <p>本服務採會員制，係提供會員個人化服務之網站，且依照會員分級享有不同之服務內容。您使用本服務時，應符合一般網路禮儀，除遵守本服務規範及我國現行法令與一切使用網際網路之慣例，並應遵守服務規範如下：</p>
                                    <ol>
                                        <li>不得上載、張貼、公布、傳送或發表恐嚇、誹謗、詐欺、侮辱、猥褻、色情、賭博或侵害他人隱私、令人反感、教唆或幫助犯罪等違法的內容或訊息。</li>
                                        <li>發表的內容應限於本人的創作，不得張貼發表侵害他人智慧財產權的內容。</li>
                                        <li>不得張貼發表其他任何違反我國現行法令之內容。</li>
                                        <li>不得於本網站大量申請帳號或蒐集他人檔案資料。</li>
                                        <li>不得使用程式或其他方法干擾本站服務系統之正常運作。</li>
                                        <li>未經本網站同意，不得將本服務用作營利、商業用途或廣告之用或張貼任何侵入性或干擾性廣告。</li>
                                        <li>不得冒用他人名義使用本服務。</li>
                                    </ol>
                                    <p>您使用本服務之行為若有任何違反服務條款、本使用規範，相關法令或危害太報或第三者權益之虞時，您同意太報網站有權逕行移除該等違反規定之檔案、圖片或整個個人檔案，並得暫停或終止您使用本服務。</p>
                                    <p>您使用本服務之行為若有任何違反服務條款、本使用規範，相關法令或危害太報或第三者權益之虞時，您同意太報網站有權逕行移除該等違反規定之檔案、圖片或整個個人檔案，並得暫停或終止您使用本服務。</p>
                                    <p>您使用本服務之行為若有任何違反服務條款、本使用規範，相關法令或危害太報或第三者權益之虞時，您同意太報網站有權逕行移除該等違反規定之檔案、圖片或整個個人檔案，並得暫停或終止您使用本服務。</p>
                                </div>
                                <div class="m-T-8">太報的擔保與免責聲明</div>
                                <div>
                                    <p>太報就各項服務及所提供之資訊或資料，不負任何明示或默示的擔保責任。太報不保證各項服務的穩定、安全、無誤、及不中斷。您應自行採取防護措施，並明示承擔使用本服務的風險及可能致生的任何損害。</p>
                                    <ul>
                                        <li>太報就各項服務及所提供之資訊或資料，不負任何明示或默示的擔保責任。太報不保證各項服務的穩定、安全、無誤、及不中斷。您應自行採取防護措施，並明示承擔使用本服務的風險及可能致生的任何損害。</li>
                                        <li>太報對於透過本網站的資訊交流過程及資訊本身，不負任何擔保責任。您了解您透過太報所取得的資訊或服務，全由資訊或服務提供人負全責，若有任何瑕疵或擔保責任，均與太報無關。</li>
                                        <li>太報不會就「服務」中的內容、「服務」之特定功能及其可靠性、可用性和符合您的需求的能力，做出任何承諾，僅以「現狀」提供「服務」。</li>
                                        <li>太報或其人員、代理人、使用人對於您使用各項服務、或無法使用各項服務的任何直接、間接、衍生、或特別損害，不負任何賠償責任。</li>
                                    </ul>
                                </div>
                                <div class="m-T-8">服務暫停或中斷</div>
                                <div>
                                    <p>太報對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時，得暫停或中斷本服務之全部或一部。如因可歸責於您之事由，致本服務中斷時，太報對於因此所生之直接或間接損害，不負損害賠償責任。</p>
                                </div>
                                <div class="m-T-8">契約條款之修改</div>
                                <div>
                                    <p>太報保留隨時修改本契約條款的權利，修改後的使用條款將以最新消息公告。若您不能接受修改後之條款，得於通知後七天內向太報申請終止本服務，若有對價付費服務部分，太報將依賸餘使用期間之長短，按比例退還您已繳付之部分費用。若您未於七日內為終止之申請，即視為您已同意修正後之條款。</p>
                                </div>
                                <div class="m-T-8">準據法與管轄法院</div>
                                <div>
                                    <p>因本服務所生之一切爭議適用中華民國法律，並以臺灣臺北地方法院為第一審管轄法院。若日後發生爭訟，您同意以太報網站資料庫所儲存之電子資料為準。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="btnBox">
                                <a class="btn-grey-o btn-large half" onclick="parent.$.colorbox.close();">關閉</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

@BundleConfig.Validate()
@BundleConfig.Component()
<script type="text/javascript" src="~/script/forms/forms.js"></script>
<script type="text/javascript" src="~/script/forms/dropdown.js"></script>
<script type="text/javascript" src="~/script/forms/moment-with-locales.js"></script>
<script type="text/javascript" src="~/script/forms/datetimepicker.js"></script>