.card-imageText[data-style="15"] .card-text-name a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.card-imageText[data-style="15"] .card-img .hoverImgBox {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.card-imageText[data-style="15"] .activeWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card-imageText[data-style="15"] .activeWrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.card-imageText[data-style="15"] .activeWrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card-imageText[data-style="15"] .card-img img {
  width: 100%; }

@media only screen and (max-width: 800px) {
  .card-imageText[data-style="15"] .card-img {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0); } }

.card-imageText[data-style="15"] .card-img .videoCurrentBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 3; }
  .card-imageText[data-style="15"] .card-img .videoCurrentBox > a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    right: 0;
    color: #ffffff;
    text-align: center; }
  .card-imageText[data-style="15"] .card-img .videoCurrentBox > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .card-imageText[data-style="15"] .card-img .videoCurrentBox ~ img {
    -webkit-filter: blur(15px);
    filter: blur(15px); }

.card-imageText[data-style="15"] .card-img:focus .activeWrap, .card-imageText[data-style="15"] .card-img:hover .activeWrap {
  opacity: 1;
  bottom: 0; }

.card-imageText[data-style="15"] .card-text {
  padding: 40px 20px 70px;
  position: relative; }
  .card-imageText[data-style="15"] .card-text::before {
    content: '';
    width: calc(100% + 20px);
    height: 150%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f8f8f8;
    z-index: -1; }

.card-imageText[data-style="15"] .card-text-info {
  font-size: 13px;
  color: #000;
  font-size: 20px;
  line-height: 1.8; }

.card-imageText[data-style="15"] .card-text-name {
  font-size: 20px; }
  .card-imageText[data-style="15"] .card-text-name a {
    color: #000; }
  .card-imageText[data-style="15"] .card-text-name ~ .card-text-info {
    margin-top: 10px; }

.card-imageText[data-style="15"] .imgInfo {
  padding: 15px 20px;
  text-align: center;
  width: 100%; }
  .card-imageText[data-style="15"] .imgInfo > span {
    font-size: 22px;
    color: #ffffff;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 38px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.5); }
    .card-imageText[data-style="15"] .imgInfo > span > i.cc-play {
      margin-left: 2px; }
  .card-imageText[data-style="15"] .imgInfo .imgTitle {
    font-size: 24px;
    color: #ffffff; }
  .card-imageText[data-style="15"] .imgInfo .imgKind {
    font-size: 24px;
    color: #ffffff; }
  .card-imageText[data-style="15"] .imgInfo .imgIntro {
    font-size: 18px;
    margin: 0;
    width: 100%;
    display: block;
    color: #ffffff;
    max-width: 100%;
    margin: 0; }
    .card-imageText[data-style="15"] .imgInfo .imgIntro a:focus, .card-imageText[data-style="15"] .imgInfo .imgIntro a:active, .card-imageText[data-style="15"] .imgInfo .imgIntro a:hover {
      color: #ffffff; }

.card-imageText[data-style="15"] .activeWrap {
  opacity: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer; }
  .card-imageText[data-style="15"] .activeWrap.openJWPlayer .imgInfo > span, .card-imageText[data-style="15"] .activeWrap.openVideo .imgInfo > span, .card-imageText[data-style="15"] .activeWrap.openVideoImg .imgInfo > span, .card-imageText[data-style="15"] .activeWrap.openVoice .imgInfo > span {
    display: inline-block; }

.card-imageText[data-style="15"] .card-img.openJWPlayer .imgInfo > span, .card-imageText[data-style="15"] .card-img.openVideo .imgInfo > span, .card-imageText[data-style="15"] .card-img.openVideoImg .imgInfo > span, .card-imageText[data-style="15"] .card-img.openVoice .imgInfo > span {
  display: inline-block; }

.card-imageText[data-style="15"] .card-img .hoverImg {
  z-index: 2; }

.card-imageText[data-style="15"] .card-img .hoverImgBox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 3; }
  .card-imageText[data-style="15"] .card-img .hoverImgBox > div {
    width: calc(100% - 80px);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .card-imageText[data-style="15"] .card-img .hoverImgBox > div > a {
      display: inline-block;
      width: calc((100% - 20px - 10px) / 3);
      height: 0;
      padding-bottom: calc((100% - 20px - 10px) / 3);
      overflow: hidden;
      position: relative; }
      .card-imageText[data-style="15"] .card-img .hoverImgBox > div > a + a {
        margin-left: 10px; }

.card-imageText[data-style="15"] .card .card-box:hover .card-img .card-img-content {
  background-color: transparent; }

.card-imageText[data-style="15"] .card .card-box:hover .card-img > .hoverImg .card-img-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.card-imageText[data-style="15"] .card .card-box:hover .card-img .hoverImgBox {
  opacity: 1; }
