.card-imageText[data-style="18"] .card-text .card-text-name, .card-imageText[data-style="18"] .card-text .card-text-name a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@media only screen and (max-width: 420px) {
  .card-imageText[data-style="18"] {
    width: 70%;
    margin: 0 auto; } }

.card-imageText[data-style="18"] .card-img {
  height: 0;
  padding-bottom: 110%; }
  .card-imageText[data-style="18"] .card-img img {
    height: 150%;
    width: 150%; }
  .card-imageText[data-style="18"] .card-img:hover .activeWrap {
    opacity: 0;
    bottom: -100%; }
  .card-imageText[data-style="18"] .card-img .card-img-content {
    height: 150%;
    width: 150%;
    background-color: transparent;
    opacity: 1; }
  .card-imageText[data-style="18"] .card-img > a {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    display: block;
    overflow: hidden;
    -webkit-transform: rotate(45deg) translate(15%, 15%);
        -ms-transform: rotate(45deg) translate(15%, 15%);
            transform: rotate(45deg) translate(15%, 15%);
    margin: 0 auto; }
    .card-imageText[data-style="18"] .card-img > a > * {
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(-45deg) translateY(-25%);
          -ms-transform: rotate(-45deg) translateY(-25%);
              transform: rotate(-45deg) translateY(-25%); }

.card-imageText[data-style="18"] .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  padding: 15px 0;
  text-align: center; }
  .card-imageText[data-style="18"] .card-text .card-text-name {
    padding: 0 20px;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 4px #333; }
    .card-imageText[data-style="18"] .card-text .card-text-name a {
      font-size: 28px;
      color: #fff;
      font-weight: 600;
      text-shadow: 1px 1px 4px #333; }
  .card-imageText[data-style="18"] .card-text .card-text-info {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: 1.8;
    text-shadow: 1px 1px 4px #333; }

.card-imageText[data-style="18"] .activeWrap {
  opacity: 1;
  bottom: 0; }

.card-imageText[data-style="18"] .card-text-kind {
  font-size: 24px;
  color: #000000; }

.card-imageText[data-style="18"] .pagination {
  margin-top: 20px; }
  .card-imageText[data-style="18"] .pagination .btn-black-o {
    padding: 3px 50px; }
