<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽1
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <sessionState timeout="50" />
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <!--<add name="dbConn" providerName="System.Data.SqlClient" connectionString="Server=LAPTOP-2BM475P7\SQLEXPRESS01;Database=BRHR;User=sa;Password=1234;" />-->
    <add name="dbConn" providerName="System.Data.SqlClient" connectionString="Server=172.16.6.5;Database=Ask;User=sa;Password=abc@123;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--自訂-->
    <!-- 預設分頁筆數 -->
    <add key="PageSize" value="20" />
    <!-- jwplayer.key -->
    <add key="JWPlayerKey" value="nhiOPfA7yJAHwyrsZGWUpHznZdnqbTuIdPk4xA==" />
    <!--網站上傳目錄 空白表示 網站根目錄+"WebUPD"(結尾不需斜線)-->
    <add key="WebUpdPath" value="E:\WebSites\Ask\WebUPD" />
    <!--網站上傳目錄網址 空白表示 現有網址+"WebUPD"(結尾不需斜線)-->
    <add key="WebUpdUrl" value="http://webdemo.kidtech.com.tw/Ask/WebUPD" />
    <add key="WebUrl" value="http://webdemo.kidtech.com.tw" />
    <!-- google map key -->
    <add key="GoogleMapKey" value="AIzaSyBbQ5_Ip2XPzc8b1B8nTEROYa1KY9aJe8s" />
    
    <!-- MAIL SMTP 設定 -->
    <!--
    <add key="MailHost" value="192.168.2.65"/>
    <add key="MailEnableSSL" value="false"/>
    <add key="MailPort" value="25"/>
    <add key="MailFrom" value="denise_wu@kidtech.com.tw"/>
    <add key="MailSender" value="太報 Tai Sounds"/>
    <add key="MailPassword" value=""/>
    -->
    
    <!--聊天室檔案上傳大小限制(MB)-->
    <add key="MaxFileSize" value="2" />
    <!--聊天室圖片上傳格式限制-->
    <add key="ImageExtName" value=".dib,.webp,.jpge,.svgz,.gif,.jpg,.ico,.png,.svg,.tif,.xbm,.bmp,.jfif,.pjpge,.pjp,.tiff" />
    <!--聊天室檔案上傳格式限制-->
    <add key="FileExtName" value=".doc,.docx,.pdf,.txt,.rar" />

    <add key="MailHost" value="smtp.gmail.com" />
    <add key="MailEnableSSL" value="true" />
    <add key="MailPort" value="587 " />
    <add key="MailFrom" value="kidtechcc@gmail.com" />
    <add key="MailSender" value="王田" />
    <add key="MailPassword" value="kidkidKID" />

    <!--是否啟動電子報排程-->
    <add key="OpenEpaperSchedule" value="true" />
    <add key="DefaultSiteSN" value="Ask" />
    <!--開啟JS/CSS檔案壓縮 true/false-->
    <add key="EnableOptimizations" value="false" />
    <!--DeBug USE-->
    <add key="isWriteLog" value="false" />
    <add key="isWriteSQLLog" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />
    <!--社群認證-->
    <add key="FBAppID" value="380655562360772" />
    <add key="FBSecret" value="322106d0382e957a9d134a77a5c9c82d" />
    <add key="AppScope" value="email,public_profile" />
    <!--給排程用, 自動產出 sitemap 的時間, 以24時制, 例如 下午六點為 18 -->
    <add key="SitemapCreateHour" value="20" />
    <!-- 台新, 串金流的相關設定 2019-01-09 charlie_shan Add start -->
    <!-- 台新, 串金流的 網址 結尾不用 / -->
    <add key="TaishinRestfulUrl" value="https://tspg-t.taishinbank.com.tw/tspgapi/restapi" />
    <!-- 台新, 串金流的 特店代號 / -->
    <add key="TaishinStoreKey" value="999812666555086" />
    <!-- 台新, 串金流的 端末代號 / -->
    <add key="TaishinStoreNo" value="T0000000" />
    <!-- 台新, 串金流的相關設定 2019-01-09 charlie_shan Add end -->
    <!-- 本站提供 API 串接時, 加解密要使用的 key -->
    <add key="APISecret" value="KidTech24930722" />
    <!-- START 本站提供 API 串接時, 取 token 要使用的 secret & key -->
    <add key="API_IV" value="APPQirFg" />
    <!-- 3DES , 需為 24 碼 -->
    <add key="API_Key" value="ufis2zWuT3Am3gEJ0LUKRso4" />
    <!-- 個資是否需3DES加密, 測試用時可設為 false -->
    <add key="API_IsEncrypt" value="true" />
    <!-- END 本站提供 API 串接時, 取 token 要使用的 secret & key  -->
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5" maxRequestLength="122880" executionTimeout="600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off">
      <!--<error redirect="~/Error/Error404" statusCode="404" />-->
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
