.card-plainText[data-style="3"], .card-plainText[data-style="3"] > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.card-plainText[data-style="3"] {
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }

.card-plainText[data-style="3"]::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  right: -150px;
  top: -50%;
  o-transform: rotate(17deg);
  -webkit-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  transform: rotate(17deg); }

.card-plainText[data-style="3"] {
  text-align: left;
  width: 500px;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  padding: 100px 0px; }
  @media only screen and (max-width: 1599px) {
    .card-plainText[data-style="3"] {
      width: 50%; } }
  @media only screen and (max-width: 800px) {
    .card-plainText[data-style="3"] {
      width: 100%;
      position: relative;
      padding: 0; } }
  @media only screen and (max-width: 800px) {
    .card-plainText[data-style="3"]::before {
      right: 0;
      o-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); } }
  .card-plainText[data-style="3"] > div {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 0 25px 0 110px; }
    @media only screen and (max-width: 1599px) {
      .card-plainText[data-style="3"] > div {
        height: 100%;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-pack: center;
        -ms-justify-content: center;
        -moz-justify-content: center;
        -webkit-box-pack: center;
                justify-content: center;
        padding: 0 30px 0 425px; } }
    @media only screen and (max-width: 1280px) {
      .card-plainText[data-style="3"] > div {
        padding: 0 30px 0 385px; } }
    @media only screen and (max-width: 1179px) {
      .card-plainText[data-style="3"] > div {
        padding: 0 30px 0 345px; } }
    @media only screen and (max-width: 800px) {
      .card-plainText[data-style="3"] > div {
        position: relative;
        padding: 35px 50px 50px 50px;
        height: auto;
        top: auto;
        bottom: 0; } }
  .card-plainText[data-style="3"] .title-main {
    font-size: 32px;
    color: #ffffff; }
    @media only screen and (max-width: 1440px) {
      .card-plainText[data-style="3"] .title-main {
        font-size: 30px; } }
    .card-plainText[data-style="3"] .title-main > div {
      position: relative;
      display: inline-block; }
    .card-plainText[data-style="3"] .title-main ~ .title-sub {
      margin-top: 5px; }
  .card-plainText[data-style="3"] .title-sub {
    font-size: 20px;
    color: #ffffff; }
    @media only screen and (max-width: 1440px) {
      .card-plainText[data-style="3"] .title-sub {
        font-size: 18px; } }
